* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

*::not(img),
*::before,
*::after {
    margin: inherit;
    padding: inherit;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, textarea, select, input {
    font: inherit;
}

/***** LAYOUT AND SIZING *****/
/***** DECORATION *****/